<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><title>Table of Contents</title></head>
<body>

<div>
 <h1><b>TABLE OF CONTENTS</b></h1>
 <br />

<!--
 <h3><b><a href="Welcome.html">WELCOME</a><br /></b></h3><br />
-->

#foreach(${part} in ${parts})
 <h3><b><a href="${part.name}">${part.name}</a></b></h3><br />
#end

 <h1 class="centered">* * *</h1>
 
</div>
</body>
</html>

